html, body {
    background-color: #626D71;
    height: 100%;
    margin: 0;
}

#content{
    height: 100%;
    background-color: #CDCDC0;
    margin: 0 20% 10px;

}

#nav {
    background-color: #DDBC95;
    margin: 0;
    padding: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    list-style-type: none;
    padding: 10px;
    border-style: solid;
    border-color: #B38867;
    text-align: center;
    background-color: #DDBC95;
}

a{
    color: black;
    text-decoration: none;
}

.create{
    background-color: #DDBC95;
    border-color: #B38867;
    border-style: solid;
}

.fullwidth{
    box-sizing: border-box;
}

/*
    #626D71 - dark gray
    #CDCDC0 - light gray
    #DDBC95 - light latte
    #B38867 - dark coffee 
*/