<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">


<body>
        <nav>
            <div id="nav">
                <h1>Jeffrey's blog app</h1>
            </div>
        </nav>
    <div id="content">
        <h1>CREATE A POST</h1>
        <br>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="text" name="title" placeholder="Blog Title" maxlength="100"><br>

                        <select name="author">
                            <option value="">--------</option>
                            {% for auth in author %}
                            <option value="{{auth.pk}}">{{auth.auth_name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <textarea rows="5" columns="50" name="post" placeholder="Post text:" maxlength="1000" class="fullwidth"></textarea><br>
                        <button type="submit" class="btn create">upload post</button>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>

        <br>
        <a href="/blog/">click here for home page</a>
        <br>
       </div>
</body>