<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<body>
    <nav>
        <div id="nav">
            <h1>Jeffrey's blog app</h1>
        </div>
    </nav>
    <div id="content">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
            {% if blog_list %}
                <ul>
                    {% for post in blog_list %}
                    <a href="/blog/{{post.id}}/post/"><li>{{post.blog_title}}</li></a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No blog posts have been made</p>
            {% endif %}
            </div>
            <div class="col-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3"><a href="/blog/create" class="btn create">create post</a></div>
            <div class="col-8"></div>
        </div>
    </div>
</body>