<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">


<body>
        <nav>
            <div id="nav">
                <h1>Jeffrey's blog app</h1>
            </div>
        </nav>
    <div id="content">
        <div class="row"></div>
            <div class="col-1"></div>
            <div class="col-10">
                <h1>{{post.blog_title}}</h1>
                <h4>{{post.blog_author}}  -  {{post.blog_date}}</h4>
                <p>{{post.blog_post}}</p>
            </div>
            <div class="col-1"></div>

            <div class="col-1"></div>
            <div class="col-4"><a href="/blog/{{post.pk}}/edit/" class="btn create">edit the post</a></div>
            <div class="col-8"></div>
            
            <br>
            <a href="/blog/">click here for home page</a>
            <br>
        </div>

    </div>
</body>