<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<nav>
    
</nav>

<body>
    <div id="content">
        <h1>{{post.blog_title}}</h1>
        <h4>{{post.blog_author}}  -  {{post.blog_date}}</h4>
        <p>{{post.blog_post}}</p>
        <br>
        <a href="/blog/">click here for home page</a>
        <br>
        <a href="/blog/{{post.pk}}/edit/">click here to edit the post</a>
    </div>
</body>